html{
    background-color: rgb(214, 214, 214);
    text-align: center;
    float:center;
}
body{
    background-color: rgb(214, 214, 214);
}
div.inputbox{
width: 50vw;
margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
background-color: rgb(214, 214, 214);
}

h1
{
    font-size: 46px;
    background: -webkit-linear-gradient(259deg, #4158D0 16%, #C850C0 41%, #FFCC70 99%);
    background: linear-gradient(259deg, #4158D0 16%, #C850C0 41%, #FFCC70 99%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
    
form
{
    border-radius: 25px;
    background-color: white;
    text-align: center;
}

#socials{
   
    position:fixed;
    display:inline;
    right:0.25%;
    bottom:0px;
    
}

#calorienumber
{
    text-align: center;

}
@media only screen and (max-width: 767px) 
{
div.inputbox
{
    top:5vh;
    left:5vw;
    transform:translate(0,0);
    -ms-transform: translate(0, 0);
    
}
form
{
    width:90vw;
}
}